body {
  font-family: 'Karla', sans-serif;
  text-align: center;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

/* Headings */
.big-heading {
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 1.5;
}

@media (max-width: 991.98px) {
  .big-heading {
    font-size: 2.5rem;
  }
}

@media (max-width: 767.98px) {
  .big-heading {
    font-size: 2.2rem;
  }
}

.section-heading {
  font-size: 2.6rem;
  font-weight: bold;
}

@media (max-width: 991.98px) {
  .section-heading {
    font-size: 2.4rem;
  }
}

@media (max-width: 767.98px) {
  .section-heading {
    font-size: 2.1rem;
  }
}

/* Containers */
.container-fluid {
  padding: 4% 15% 7%;
}

/* Navigation Bar */
.navbar {
  padding: 1% 4%;
  background-color: #00334e;
  color: #e8e8e8;
}

.navbar-toggler {
  border-color: #e8e8e8;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(232, 232, 232)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand {
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  font-weight: Bold;
}

.nav-item {
  padding: 0 7px;
}

.nav-link {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

.nav-btn {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
}

@media (max-width: 767.98px) {
  .navbar-nav {
    text-align: left;
    padding: 50px 0 54px;
  }

  .nav-item {
    line-height: 3;
    padding: 0;
  }

  .nav-btn {
    margin-top: 2rem;
    margin-left: 0;
    padding: 0 30px;
  }
}

/* Title Section */
#title .container-fluid {
  padding: 4% 15% 10%;
  text-align: left;
  min-height: 90vh;
}

.title-div {
  padding-top: 8%;
}

.row {
  position: relative;
}

@media (max-width: 991.98px) {
  #title .container-fluid {
    padding: 4% 15% 45%;
    text-align: center;
    min-height: 90vh;
  }
}

/* Download Buttons */
.download-btn {
  font-weight: bold;
  margin: 5% 3% 7% 0;
  background-color: #fff;
  border-color: #212529;
  border-width: 2px;
  color: #212529;
}

.download-btn:hover, .download-btn:focus, .download-btn:active {
  color: #e8e8e8;
  background-color: #00334e;
  border-color: #00334e;
}

/* Title Image */
.title-img {
  width: 95%;
  position: absolute;
  right: -5%;
}

@media (max-width: 991.98px) {
  .img-div {
    position: absolute;
    top: 100%;
  }

  .title-img {
    width: 100%;
    position: relative;
    right: 0;
  }
}

/* How it works section */
#hiw {
  background-color: #5588a3;
  color: #e8e8e8;
}

@media (max-width: 991.98px) {
  #hiw {
    position: relative;
    z-index: 1;
  }
}

#hiw .container-fluid {
  padding: 4% 6%;
}

#hiw .section-heading {
  margin-bottom: 2%;
  line-height: 1.5;
  position: relative;
  padding-bottom: 3.5%;
}

#hiw .section-heading::after {
  display: block;
  content: "";
  height: 0.25rem;
  width: 4rem;
  background-color: #e8e8e8;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.hiw-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 15%;
  color: #e8e8e8;
}

@media (max-width: 991.98px) {
  .hiw-title {
    font-size: 2.3rem;
  }
}

@media (max-width: 767.98px) {
  .hiw-title {
    font-size: 2rem;
  }
}

/* HIW Steps */
.hiw-list {
  text-align: left;
  list-style: none;
  counter-reset: item;
}

.hiw-item {
  counter-increment: item;
  margin-bottom: 12%;
  font-family: 'Karla', sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  padding-left: 1rem;
}

.hiw-item:hover {
  color: #00334e;
}

.hiw-item:before {
  content: counter(item);
  background: #e8e8e8;
  border-radius: 100%;
  color: #00334e;
  font-weight: 700;
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 0.5rem;
}

/* HIW Carousel */
.hiw-bg {
  padding-top: 8%;
}

.hiw-img {
  padding-top: 17%;
  width: 60%;
}

.carousel-phone {
  padding-top: 0;
  width: 101.5%;
  position: absolute;
  right: -0.1rem;
}

.carousel-inner .carousel-item {
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

/* What You Should Know Section */
#wysk .container-fluid {
  padding: 4% 10%;
}

@media (max-width: 767.98px) {
  #wysk .container-fluid {
    padding: 4% 7%;
  }
}

#wysk .section-heading {
  line-height: 1.5;
  margin-bottom: 5%;
  padding-bottom: 6%;
  position: relative;
}

#wysk .section-heading::after {
  display: block;
  content: "";
  height: 0.25rem;
  width: 7rem;
  background-color: #5588a3;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.wysk-box {
  text-align: left;
  padding: 0 1rem 2rem;
}

.wysk-title {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.icon {
  color: #145374;
  margin-bottom: 1rem;
  width: 100%;
}

/* Download Section */
#download {
  background-color: #145374;
  color: #e8e8e8;
}

#download .container-fluid {
  padding: 6% 15% 6%;
}

#download .big-heading {
  margin-bottom: 5%;
  line-height: 1;
}

@media (max-width: 767.98px) {
  #download .container-fluid {
    padding: 10% 10% 10%;
  }
}

.qr-div {
  text-align: right;
  padding-right: 4%;
}

.qr-code {
  width: 8rem;
  border-radius: 10%;
}

.qr-div:after {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  position: absolute;
  right: 2.5%;
  top: 0;
  background-color: #FFF;
}

.badges-div {
  text-align: left;
  padding: 0.25rem 0 0;
}

.badges {
  width: 11rem;
  margin: 2px;
}

#download .row {
  margin-bottom: 5%;
}

@media (max-width: 767.98px) {
  #download .row {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

/* Footer Section */
#footer {
  color: #212529;
  text-align: left;
}

#footer .container-fluid {
  padding: 4rem 5% 0;
}

.brand {
  font-family: 'Roboto Slab', serif;
  font-size: 1.9rem;
  font-weight: Bold;
}

.brand:hover {
  text-decoration: none;
}

.footer-link {
  display: inline-block;
  margin: 1.5rem 2.5rem 3rem 0;
}

@media (max-width: 767.98px) {
  .footer-link {
    display: inline-block;
    margin: 1.5rem 2rem 3rem 0;
  }
}

.copyright {
  color: #8f8f8f;
  margin: 1.5rem 0;
}

.footer-icon {
  margin: 1rem 15% 5% 0;
}

@media (max-width: 991.98px) {
  .footer-icon {
    margin: 0 2.5rem 1rem 0;
  }
}

.footer-icon:hover {
  color: #5588a3;
}

.footer-seperator {
  display: inline-block;
  margin: 1rem 7%;
}

hr {
  margin: 0;
}

.footer-hr-1 {
  display: none;
  margin-top: 1.5rem;
}

@media (max-width: 991.98px) {
  .footer-hr-1 {
    display: block;
  }

  .footer-hr-2 {
    display: none;
  }
}
