body {
  font-family: 'Karla', sans-serif;
  text-align: center;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

/* Headings */
.big-heading {
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 1.5;
}

.section-heading {
  font-size: 2.6rem;
  font-weight: bold;
}

/* Containers */
.container-fluid {
  padding: 4% 15% 7%;
}

/* Navigation Bar */
.navbar {
  padding: 1% 3%;
  background-color: #00334e;
  color: #e8e8e8;
}

.navbar-brand {
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  font-weight: Bold;
}

.nav-item {
  padding: 0 7px;
}

.nav-link {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

.nav-btn {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

/* Title Section */
#title .container-fluid {
  padding: 4% 15% 10%;
  text-align: left;
  min-height: 90vh;
}

.title-div {
  padding-top: 8%;
}

/* Download Buttons */
.download-btn {
  font-weight: bold;
  margin: 5% 3% 5% 0;
  background-color: #fff;
  border-color: #212529;
  border-width: 2px;
  color: #212529;
}

.download-btn:hover, .download-btn:focus, .download-btn:active {
    color: #e8e8e8;
    background-color: #00334e;
    border-color: #00334e;
}

/* Title Image */
.title-img {
  width: 95%;
  position: absolute;
  right: -5%;
}

/* How it works section */
#hiw {
  background-color: #5588a3;
  color: #e8e8e8;
}

#hiw .container-fluid {
  padding: 4% 6%;
}

#hiw .section-heading {
  margin-bottom: 2%;
  line-height: 2.5;
}

#hiw .section-heading::after {
  display: block;
  content: "";
  height: 0.25rem;
  width: 4rem;
  background-color: #e8e8e8;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.hiw-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 15%;
  color: #e8e8e8;
}

/* HIW Steps */
.hiw-list {
  text-align: left;
  list-style: none;
  counter-reset: item;
}

.hiw-item {
  counter-increment: item;
  margin-bottom: 12%;
  font-family: 'Karla', sans-serif;
  font-size: 1.4rem;
  cursor: pointer;
}

.hiw-item:hover {
  color: #00334e;
}

.hiw-item:before {
  margin-right: 1.3rem;
  content: counter(item);
  background: #e8e8e8;
  border-radius: 100%;
  color: #00334e;
  font-weight: 700;
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  display: inline-block;
  position: relative;
  left: -0.5rem;
}

/* HIW Carousel */
.hiw-img {
  padding-top: 17%;
  width: 60%;
}

.carousel-phone {
  padding-top: 0;
  width: 101.5%;
  position: absolute;
  right: -0.1rem;
}

.carousel-inner .carousel-item {
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

/* What You Should Know Section */
#wysk .container-fluid {
  padding: 4% 10%;
}

#wysk .section-heading {
  line-height: 1.5;
  margin-bottom: 7%;
  padding-bottom: 3%;
  position: relative;
}

#wysk .section-heading::after {
  display: block;
  content: "";
  height: 0.25rem;
  width: 7rem;
  background-color: #5588a3;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.wysk-box {
  text-align: left;
  padding: 0 1rem 2rem;
}

.wysk-title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1rem;
}

.icon {
  color: #145374;
  margin-bottom: 1.5rem;
}

/* Download Section */
#download {
  background-color: #145374;
  color: #e8e8e8;
}

#download .container-fluid {
  padding: 6% 15% 4%;
}

#download .big-heading {
  margin-bottom: 5%;
  line-height: 1;
}

.qr-div {
  text-align: right;
  padding-right: 4%;
}

.qr-code {
  width: 30%;
  border-radius: 10%;
}

.qr-div:after {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  position: absolute;
  right: 2.5%;
  top: 0;
  background-color: #FFF;
}

.badges-div {
  text-align: left;
  padding: 0.1rem 0 0;
}

.badges {
  width: 40%;
  margin: 2px;
}

#download .row {
  margin-bottom: 5%;
}

/* Footer Section */
#footer {
  color: #212529;
  text-align: left;
}

#footer .container-fluid {
  padding: 4% 5% 0;
}

.brand {
  font-family: 'Roboto Slab', serif;
  font-size: 1.9rem;
  font-weight: Bold;
}

.brand:hover {
  text-decoration: none;
}

.footer-link {
  display: inline-block;
  margin: 1.5rem 2.5rem 3rem 0;
}

.copyright {
  color: #8f8f8f;
  margin-bottom: 2rem;
}

.footer-icon {
  margin: 1rem 4rem 0.8rem 0;
}

.footer-icon:hover {
  color: #5588a3;
}

.footer-seperator {
  display: inline-block;
  margin: 1rem 2.5rem;
}
